<p id="notice"><%= notice %></p>

<h1>Vehicles</h1>

<table>
  <thead>
    <tr>
      <th><%= link_to 'Vehicle Name', vehicles_path(sort_by: 'vehicles.name') %></th>
      <th><%= link_to 'Length', vehicles_path(sort_by: 'length_in_feet') %> (in feet)</th>
      <th><%= link_to 'Vehicle type', vehicles_path(sort_by: 'vehicle_types.name') %></th>
      <th><%= link_to 'Customer', vehicles_path(sort_by: 'customers.last_name') %></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= link_to vehicle.name, vehicle %></td>
        <td><%= vehicle.length_in_feet %></td>
        <td><%= vehicle.vehicle_type_name %></td>
        <td><%= vehicle.customer_full_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
