<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vehicle.name %>
</p>

<p>
  <strong>Length:</strong>
  <%= @vehicle.length_in_feet %> feet
</p>

<p>
  <strong>Vehicle type:</strong>
  <%= @vehicle.vehicle_type_name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @vehicle.customer_full_name %>
</p>

<%= link_to 'Destroy', @vehicle, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', vehicles_path %>
