body {
  background-color: #232f3e;
  color: #232f3e;
  height: 100%;
  margin: 33px; }

#header {
  color: #eee;
  font-family: "Open Sans", sans-serif;
  font-weight: 600 !important;
  font-size: 35px !important;
  line-height: 35px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px }

#header ul {
  list-style-type: none;
}

#header li {
  float: right;
}

#header li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#content {
  background-color: #eee;
  height: 100%;
  width: 1200px;
  padding: 30px;
  margin-right: auto;
  margin-left: auto; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #232f3e;
  padding: 0px;
  text-decoration: none; }

a:visited {
  color: #232f3e; }

a:hover {
  color: #eee;
  background-color: #232f3e; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

table {
  border-collapse: collapse;
  margin: 25px 0;
  width: 100%;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }

thead tr {
  background-color: #232f3e;
  color: #eee;
  line-height: 20px;
  text-align: left; }

thead a, thead a:visited {
  color: #eee;
  margin-top: 10px;
}

tr, td {
  padding: 12px 15px; }

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
