<!DOCTYPE html>
<html>
  <head>
    <title>OutdoorSy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <h1>Outdoor.sy</h1>
      <ul>
        <li><%= link_to 'Vehicle Types', vehicle_types_path %></li>
        <li><%= link_to 'Vehicles', vehicles_path %></li>
        <li><%= link_to 'Customers', customers_path %></li>
      </ul>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
